[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"

# SPA redirect rule - serve index.html for all routes that don't match static files
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

 [[plugins]]
package = "netlify-plugin-prerender-spa"
