/* Yet Another React Lightbox styles */
@import 'yet-another-react-lightbox/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide footer during booking page data load (prevents flash) */
body.booking-loading footer {
  visibility: hidden;
}


.broskiis-heading-effect {
  display: inline-block;
  background-image: linear-gradient(to right, theme('colors.primary.600'), theme('colors.primary.800'));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.broskiis-heading-effect::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: theme('colors.primary.600');
  transition: width 0.3s ease-out;
}

.broskiis-heading-effect:hover::after {
  width: 100%;
}

/* New class for gradient text without underline */
.gradient-text-primary {
  background-image: linear-gradient(to right, theme('colors.primary.600'), theme('colors.primary.800'));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
